@model IEnumerable<SBS.Models.Vehicle>

<!--This page is display all the details of vehicle booking in datatable view with all the functionality like export data to pdf,excel etc.-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Details</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row pt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Booking request List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LicensePlate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Make)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Model)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RegistrationDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChassisNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BookingStatus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BookingConfirmDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DeliveryDate)
                                        </th>                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LicensePlate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Make)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Model)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChassisNo)
                                            </td>
                                            @if (item.BookingStatus == true)
                                            {
                                                <td style="color:green;">
                                                    @Html.DisplayName("Confirmed")
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="color:red">
                                                    @Html.DisplayName("Not Confiremd")
                                                </td>
                                            }
                                            @if (item.BookingConfirmDate == null)
                                            {
                                                <td style="color:green;">
                                                    @Html.DisplayName("Not Available")
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="color:green">
                                                    @Html.DisplayFor(modelItem => item.BookingConfirmDate)
                                                </td>
                                            }
                                            @if (item.DeliveryDate == null)
                                            {
                                                <td style="color:green;">
                                                    @Html.DisplayName("Not Available")
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="color:green">
                                                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/adminlte/js")
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>
</html>